<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
<title>Short URL</title>
<base href="http://sl.ugr.es/" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="" />
<meta name="description" content="Genrador de URLs cortas por la Oficina de Software Libre de la Universidad de Granada" />
<meta name="keywords" content="short url uri corta" />
<link href="template/estilo.css" rel="STYLESHEET" media="screen" type="text/css" />
<link rel="shortcut icon" href="http://osl.ugr.es/favicon.ico" />
</head>
<body>
<div id="centro" class="contenedor">
<p>OOOPS!</p>
<p><? echo $TextoError; ?></p>
</form>
</div>
<div class="navega">
<p><a href=".">Inicio</a> | <a href="template/ayuda.html">Ayuda</a> | <a href="template/api.html">API</a> | <a href="template/licencia.html">Licencia</a></p>
</div>
</body>
</html>




